# .NET Core
bin/
obj/
net9.0/
*.user

# Python
data_simulator/src/__pycache__
data_simulator/tests/__pycache__
.venv/

# Build results
x64/
x86/

# Visual Studio files
.vs/
.vscode/
*.ntvs*
*.njsproj
*.sln.docstates

# Database
*.mdf
*.ldf
*.ndf

# Grafana & Monitoring
grafana/data/
influxdb/data/
prometheus/data/
mosquitto/data/
mosquitto/log/
postgresql/data/

# Logs
*.log
logs

# Scripts
*.ps1

# Tsung
*.dump
tsung/results/many_users_low_frequency_20250603-0711
tsung/results/peak_load_20250603-0616
tsung/README.md
LOAD_TEST_RESULTS.html
doc/